.nav {
  grid-area: n;
  background-color: navajowhite;
  padding: 20px;
}

.item a {
  text-decoration: none;
}

.unActiveLink {
  color: rgb(24, 163, 110);
}

.activeLink {
  color: rgb(140, 0, 255);
}
