.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.activeDialog {
    color: rgb(140, 0, 255);
}

.unActiveDialog {
    color: rgb(24, 163, 110);
}

/* .dialog {

} */

.messages {
    padding: 10px;
}

